<div class="container">

  <!-- <div class="nav">
    <div class="input-field" id="search-box">
      <i class="material-icons prefix">search</i>
      <input id="search" type="text" class="validate" placeholder="Search" [(ngModel)]="search">
    </div>
  </div> -->

  <br>



  <h1 class="text-center">todos</h1>

  <div *ngIf="isTaskLoaded; then loaded else loading"></div>
  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>
  <ng-template #loaded>
    <div class="content-wrapper">
      <div id="content">
        <form fxLayout="row" #searchForm="ngForm" (submit)="onSubmit($event)" id="searchForm">
          <div fxFlex="5">
            <mat-checkbox name="selectAll" [(ngModel)]="selectAll" (change)="toggleSelectAll()" *ngIf="taskList.length > 0"></mat-checkbox>
          </div>


          <mat-form-field fxFlex="95">
            <input matInput type="text" id="search-input" placeholder="What needs to be done?" name="search" [(ngModel)]="taskDesc" #taskDescInput="ngModel">
            <mat-error *ngIf="(searchForm.isDirty||searchForm.isTouched) && taskDescInput.hasError('required')">
              Description is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>




        </form>
        <ul id="task-list">
          <app-todo-list-item [task]="task" *ngFor="let task of (taskList | taskFilter:filter | taskSearchFilter:search)"></app-todo-list-item>
        </ul>

        <div class="footer">
          <div id="footer-left">
            <p>{{activeTaskList.length}} {{activeTaskList.length > 1 ? 'items' : 'item'}} left</p>
          </div>
          <div id="footer-middle">
            <button class="footer-btn filter-btn" [ngClass]="{'active': filter=='all'}" (click)="filter='all'">All</button>
            <button class="footer-btn filter-btn" [ngClass]="{'active': filter=='active'}" (click)="filter='active'">Active</button>
            <button class="footer-btn filter-btn" [ngClass]="{'active': filter=='completed'}" (click)="filter='completed'">Completed</button>
          </div>
          <div id="footer-right">
            <button class="footer-btn" id="clear-complete-btn" (click)="clearCompleted()">Clear Completed</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


</div>