<mat-toolbar color="primary">
  <span>Todo List</span>

  <!-- This fills the remaining space of the current row -->
  <span class="space"></span>

  <div *ngIf="authService.isLoggedIn">
    <mat-form-field class="example-full-width" (submit)="onsubmit($event)">
      <input type="text" matInput placeholder="Search" [(ngModel)]="taskService.searchTerm">
    </mat-form-field>
    <button mat-button (click)="onLogout()">Logout</button>
  </div>

  <div *ngIf="!authService.isLoggedIn">
    <a mat-button routerLink="/auth/login">Login</a>
  </div>


</mat-toolbar>