.space {
    flex: 1 1 auto;
}

.mat-button {
    min-width: auto;
}

#search-icon {
    vertical-align: top;
    margin-right: 0.25rem;
}

#search-field {
    width: 6rem;

    transition: all 0.4s;
    transition-timing-function: ease-in-out;

    &.mat-focused {
        width: 12rem;

    }


}

.desktop-menu {
    @media (max-width: 540px) {
        display: none;
    }
}

.mobile-menu {
    display: none;

    @media (max-width: 540px) {
        display: block;
    }
}